<body bgcolor="white">
  <h1 align="center">Students Mark list</h1>

  <table [border]="borderval" align="center">
    <tr>
      <th [style.color]="'blue'">Name</th>
      <th [style.color]="'blue'">Reg.No</th>
      <th [style.color]="'blue'">Internet of things</th>
      <th [style.color]="'blue'">Machinelearning</th>
      <th [style.color]="'blue'">Open source technology</th>
      <th [style.color]="'blue'">Software process management</th>
      <th [style.color]="'blue'">Bigdata</th>
    </tr>

    <tr>
      <td>vijay</td>
      <td>17ul76</td>
      <td>75</td>
      <td>65</td>
      <td>50</td>
      <td>65</td>
      <td>80</td>
    </tr>
    <tr>
      <td>palanikumar</td>
      <td>17ul77</td>
      <td>40</td>
      <td>45</td>
      <td>50</td>
      <td>55</td>
      <td>60</td>
    </tr>
    <tr>
      <td>nandhakumar</td>
      <td>17ul78</td>
      <td>70</td>
      <td>30</td>
      <td>60</td>
      <td>55</td>
      <td>85</td>
    </tr>
    <tr>
      <td>Jega</td>
      <td>17ul79</td>
      <td>45</td>
      <td>55</td>
      <td>80</td>
      <td>45</td>
      <td>90</td>
    </tr>
    <tr>
      <td>Praveen</td>
      <td>17ul80</td>
      <td>60</td>
      <td>55</td>
      <td>78</td>
      <td>45</td>
      <td>96</td>
    </tr>
    <tr>
      <td>pandi</td>
      <td>17ul81</td>
      <td>40</td>
      <td>53</td>
      <td>80</td>
      <td>45</td>
      <td>82</td>
    </tr>
  </table>
</body>
